@import 'import';

$colo:#0F1011;
$color:#2B2E37;
$coloro:#2F343F;

body {
	margin:0;
	padding:0;
}
* {
	font-family:$font;
	color:#333;
	box-sizing:border-box;
	line-height:27px;
}

nav {
	padding:20px;

	ul {
		list-style:none;
		padding:0;
		margin:0;
		padding-right:30px;
		text-align: right;

		li {
			display:inline-block;
			padding:0;

			button {
				outline:none;
				border:none;
				padding:10px 15px;
				font-size:1em;
				background-color:transparent;
				cursor:pointer;
				@include transition(all 0.2s ease-in-out);

				&:hover {
					color:$blue;
				}

				&.selected {
					border-bottom:3px solid $blue;
				}
			}
		}
	}
}

.container {
	min-width:200px;
	max-width:900px;
	margin:30px auto;
	padding:50px 20px;
}

.title {
	font-size:2em;
	text-align:center;
	padding:10px 0;
	border-bottom:2px solid $blue;
	text-transform: uppercase;
}

.content {
	font-size:1em;
	padding:10px;
}

.step {
	padding:20px 5px;
	margin-top:20px;

	.sub-title {
		font-size:1.3em;
		border-left:6px solid $blue;
		padding:10px 5px 10px 20px;
		margin-bottom:30px;
		font-weight:bold;
	}

	.text {
		padding:10px;

		code {
			text-align:left;
			background-color:$coloro;
			color:#fff;
			padding:1px 10px;
			font-family:"monospace";

			&.block {
				display:block;
				padding-left:20px;
				max-width:800px;
				margin:auto;
			}

			&.inline {
				font-style: italic;
				font-size:0.9em;
			}
		}

	}

	ul {
		max-width:750px;
		margin:auto;

		li {
			padding:7px 3px;
		}
	}
}

.shoot {
	border:none;
	outline:none;
	background-color:$blue;
	padding:4px 12px;
	color:#fff;
	font-size:0.8em;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	margin:15px auto;
	cursor:pointer;
	border:3px solid $blue;
	@include transition(all 0.3s ease-in-out);

	&:hover {
		background-color:transparent;
		color:$blue;
	}
}